$black: #000;
$black-5: rgba(0,0,0,0.5);
$grey-11: #111;
$grey-33: #333;
$grey-66: #666;
$grey-99: #999;
$grey-CC: #ccc;
$grey-DD: #ddd;
$grey-EE: #eee;
$white: #fff;
$white-125: rgba(255,255,255,0.125);
$white-5: rgba(255,255,255,0.5);
$white-75: rgba(255,255,255,0.75);
$white-9: rgba(255,255,255,0.9);

$red: red;
$red-dark: darken($red, 20);