$black: #000;
$grey-33: #333;
$grey-66: #666;
$grey-99: #999;
$grey-CC: #ccc;
$white: #fff;
$white-125: rgba(255,255,255,0.125);
$white-5: rgba(255,255,255,0.5);
$white-75: rgba(255,255,255,0.75);

$red: red;
$red-dark: darken($red, 20);