/* layout */
$gutter: 40px;

$off-page: -999em;

/* typography */
$font-body: 20px;
$font-hero-1: 22.616em;
$font-hero-2: 15.992em;
$font-hero-3: 11.308em;
$font-hero-4: 7.996em;
$font-h1: 3.998em;
$font-h2: 2.827em;
$font-h3: 1.999em;
$font-h4: 1.414em;
$font-h5: 1em;
$font-small: 0.707em;
