/* layout */
$gutter: 40px;

$off-page: -999em;

/* typography */
$font-body: 20px;
$font-hero-4: 7.432em;
$font-hero-3: 3.584em;
$font-hero-2: 2.987em;
$font-hero-1: 2.488em;
$font-h1: 2.074em;
$font-h2: 1.728em;
$font-h3: 1.44em;
$font-h4: 1.2em;
$font-h5: 1em;
$font-small: 0.833em;

// $font-hero-4: 7.996em;
// $font-h1: 2.827em;
// $font-h2: 1.999em;
// $font-h3: 1.414em;
