body {
  padding-top: $gutter*1.5;
  background: $grey-11;
}

.content {
    clear: left;
    max-width: 960px;
    padding: $gutter;

    p {
      max-width: 45rem;
    }

    &.slim {
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 320px) {
        padding: $gutter $gutter/2;
    }

    margin: 0 auto;
    text-align: left;
}

#page {
    &:after {
        content: '...';
        display: block;
        margin: $gutter 0;
        text-align: center;
        font-size: $font-h3;
    }
}

