.conflicts {
    padding: 0;
    margin: 0;
    overflow: hidden;
    > li {
        float: left;
        width: 50%;
        height: 33vh;
    }
}

.conflict {
    position: relative;
    float: left;
    width: 100%;
    height: 33vh;
    margin: 0;
    background: $grey-11;

    &-details {
        display: inline-block;
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        font-size: $font-small;

        color: $white-75;

        & > * {
          display: none;
        }
    }

    &.selected,
    &:active,
    &:focus,
    &:hover {
        &:not(.conflict--hero) {
          background-blend-mode: soft-light;
        }

        .conflict-name {
          display: block;
          padding: 4px 8px;
        }
    }

    &-title {
        text-align: center;
    }

    &-number {
        &:after { content: '.'; }
    }

    &-name {
        font-size: $font-hero-1;
        margin: 0 10px;
    }

    &--inline {
        float: right;
        width: 33vw;
        min-width: 320px;
        height: 19vw;
        min-height: 180px;
        margin: 0 0 $gutter $gutter;
    }

    &--hero {
        height: 50vh;
        border-bottom: solid 2px $white;
        cursor: pointer;

        .conflict-title {
          position: absolute;
          bottom: 0;

          width: 100%;

          font-size: $font-hero-1;
          color: $white;
          text-align: center !important;
          line-height: 0.69;

          text-shadow: 0 -10px 40px $black;
          opacity: 0.97;
        }

        &.zoom {
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          z-index: 1000;

          .conflict-title {
            top: auto;
            bottom: 0;
            transform: translateY(0);
          }
        }
    }

    &--Libya {
        background-image: url('/img/conflicts/Libya.jpg');
        background-size: cover;
        background-position: 95% 15%;
    }

    &--Syria {
        background-image: url('/img/conflicts/Syria.jpg');
        background-size: cover;
        background-position: 80% 50%;
    }

    &--Bahrain {
        background-image: url('/img/conflicts/Bahrain.jpg');
        background-size: cover;
        background-position: 20% 60%;
    }

    &--Somalia {
        background-image: url('/img/conflicts/Somalia.jpg');
        background-size: cover;
        background-position: 49% 40%;
    }

    &--Iraq {
        background-image: url('/img/conflicts/Iraq.jpg');
        background-size: cover;
        background-position: center center;
    }

    &--Burundi {
        background-image: url('/img/conflicts/Burundi.jpg');
        background-size: cover;
        background-position: 60% 20%;
    }

    @media screen and (max-width: 768px) {
      &-title {
        margin-top: 0;
      }

      &-name {
        font-size: $font-h2;
      }
    }

    @media screen and (min-width: 500px) {
      &-details {
        font-size: $font-h4;
      }
    }

    @media screen and (min-width: 400px) {
      &--hero &-title {
        font-size: $font-hero-2;
      }
    }

    @media screen and (min-width: 768px) {
      &-details {
        font-size: $font-h2;
      }

      &--hero &-title {
        font-size: $font-hero-3;
        text-shadow: 0 -20px 100px $black-5;
      }
    }

    @media screen and (min-width: 1024px) {
      &--hero &-title {
        font-size: $font-hero-4;
      }

      &--Syria.conflict--hero { color: white; }
    }

    @media screen and (min-width: 1150px) {
      &--hero &-title {
        font-size: $font-hero-5;
      }
    }
}
