.nav {
    position: relative;
    z-index: 2;

    padding: $gutter/2;
    border-top: solid 1px $white-125;

    font-size: 18px;
    color: $white;
    background: $grey-33;

    a {
        display: inline-block;

        &:hover {
            color: $white;
        }

        &:before {
            content: '•';
            margin: 0 10px 0 5px;
        }

        &:first-child:before {
            display: none;
        }
    }

    a.nav-contact {
        display: none;
    }

    a.nav-conflicts { &:before { display: none; } }

    .the {
      display: none;
      border: none;
    }

    @media screen and (max-width: 767px) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @media screen and (min-width: 370px) {
      .the {
        display: inline;
      }
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 20vw;
      background: transparent;
    }

    @media screen and (min-width: 900px) {
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: 930px) {
    }
}
