.photomonth {
  display: block;

  width: 150px;
  height: 35px;
  margin: 10px 0 0 -9px;

  background-image: url('/img/photomonth.png?v=201608242231');
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: $grey-11;
}